.nav-title {
    font-size: 150%;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 3%;
}

.nav {
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(119, 114, 219) 0%, rgba(14,222,255,1) 82%, rgb(240, 241, 241) 100%);
}

.location-input-form {
  padding-top: 40px;
}

.nav-right {
  float: right;
}